<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a href="/">Just Post</a></h2>
        </div>
        <div class="navbar-center">
            <form action="/resultados" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="terminoBuscado" class="search-input" placeholder="Buscar...">
                <select name="ordenar" id="">
                    <option value="asc">Busqueda Ascendente</option>
                    <option value="desc">Busqueda Descendente</option>
                </select>          
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
               <% if(!locals.usuario){ %> 
                <li><a href="/users/registracion">Registro</a></li>
                <li><a href="/users/login">Login</a></li>
                <% }else{ %>
                <li> Bienvenido <%= locals.usuario.username %> </li> 
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/posteos/agregarPosteo"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="/users/miPerfil/1"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                <% } %> 
            </ul>
        </div>
    </nav>
</header>