<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include("./partials/header") %> 

    <main>
        <section class="center main-content">
        <h1>Nuevo Post</h1>
        <form action="" method="get">
            <div>
                <label for="user">Id del usuario</label>
                <input type="id" name="user"  placeholder="Id del usuario">
            </div>
            <div>
                <label for="image">Imagen</label>
                <input type="texto" name="image"  placeholder="Imagen">
            </div>
            <div>
                <label for="post">Texto</label>
                <input type="texto" name="post"  placeholder="Escribi un texto">
            </div>
            <button type="submit">Registrate</button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>